body {
    user-select: none;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#empty-space {
    padding: 1vh 0 0 0;
}

#content {
    background: #2A9134;
}

#yeebot-status-container {
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

#title-container {
    margin: 20vh 0 5vh 0;
}

h1 {
    margin: 0;
    font-size: 5rem;
    text-align: center;
    color: #C8E9A0;
    width: fit-content;
    margin: auto;
    text-shadow: 5px 5px #5BBA6F;
}

h1:hover {
    color: #baff66;
}

h2 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
    color: #C8E9A0;
}

#description {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.75em;
}

#discord {
    cursor: pointer;
    transition-duration: 0.4s;
}

#discord:hover {
    background:lightgreen;
}

#footer {
    padding: 2vw 2vw;
    background: grey;
}

#footer-container {
    display: inline-flex;
    margin-left: 30vw;
    margin-right: 30vw;
}

.button-container {
    text-align: center;
    padding: 10vh 0;
}

.clickable {
    text-decoration: none;
    font-size: 5em;
    transition: color 0.4s, background 0.4s;
    color: white;
    background: darkslateblue;
    border-radius: 10px;
    padding: 0px 20px;
}

.clickable:hover {
    color: white;
    background: darkturquoise;
}

#tos {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
}

#privacy {
    position: absolute;
    right: 10px;
    top: 55px;
    font-size: 2em;
}