body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 5rem;
    margin: 5rem;
    text-align: center;
    color: green;
    text-shadow: 5px 5px greenyellow;
}

#description {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.75em;
}

#discord {
    transition-duration: 0.4s;
}

#discord:hover {
    background:lightgreen;
}

#footer {
    margin-left: 30vw;
    margin-right: 30vw;
}

#button-container {
    text-align: center;
    margin: 5rem;
}

#clickable {
    text-decoration: none;
    font-size: 5em;
    transition-duration: 0.4s;
    color: red;
    background: lightsalmon;
}

#clickable:hover {
    color: green;
    background:lightgreen;
}